body, html {
    font-family: 'Poppins' !important;
    color: #3D2C2E !important;
}
body {
    background-image: url('spa-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

nav a, nav a:hover {
    color: white !important;
    text-decoration: none;
}
nav li {
    display: inline-block;
    margin-right: 50px;
}
.logo-container {
    padding-right: 50px;
}
.navbar {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0 25px;
    background-color: white;
}

.navbar.scrolled {
    background-color: white !important;
    position: fixed;
    opacity: 0.9;
}
.three-line-container div {
    display: none !important;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
.navbar.scrolled a {
    color: black !important;
}
@media (max-width: 1400px) { 
    .three-line-container div {
        display: block !important;
        

        
    }

    .three-line-container {
        cursor: pointer;
        background-color: black;
    }
    .navbar ul {
        position: absolute ;
        top: 100px ;
        left: 0 ;
        background: black;
        opacity: 1;
        width: 100% ;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        display: flex !important;
        flex-shrink: 1;
        align-items: center !important;
        justify-content: center !important;
    }
    .navbar ul li {
        font-size: 12px !important;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: row !important;
        align-items: center !important;

    }
    .navbar a, .navbar.scrolled a  {
        color: white !important;
        font-weight: 800;
    }
    .navbar {
        display: flex !important;
        justify-content: space-around !important;
    }
}



    /* Responsive:  */
    @media (max-width: 768px) {  
        .carousel-caption h4 { 
            font-size: 3rem; 
        }
        .carousel-caption h3 { 
            font-size: 2rem; 
        }

        .short-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .part-2 {
            margin-top: 25px !important;
        }
        .card {
            height: 100px;
        }
        .card p {
            font-size: 13px;
        }

        .card img {
            height: 300px
        }
        .card button {
            margin: auto;
        }

        .gallery-header {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            text-align: center !important;
        }
        .gallery-header p{
            text-align: center !important;
        }
        .gallery-header button{
            align-self: center;
        }
        .part-4 {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            margin-top: 50px !important;
        }
        .part-4 p {
            text-align: justify !important;
            text-justify: inter-word;
        }
        .location {
            width: 100% !important;
            height: 50% !important;
        }
        .navbar ul {
        
            display: block !important;

            
        }
        .navbar ul li {
            display: block !important;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: right;
        }
    }
    @media (max-width: 768px) {  
        .navbar ul {
            display: block !important;   
        }
        .navbar ul li {
            display: block !important;
        }
    }




    @media (max-width: 449px) {  
        .navbar {
            background-color: black !important;
        }
    }
    .resident-card img {
        width: 100%;
        height: 300px;
        border-radius: 10px 10px 0 0;

    }
    .overall-container {
        margin-top: 25px;
        background-color: #FFECB3; 
        border-radius: 12px;
        padding: 20px 20px;
    }
    .card {
        padding: 5px;
        background-color:#FFFDE7;
    }
    .col {
        margin-bottom: 35px;
    }
    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('resi-1.jpg');
        background-size: cover;
        background-position: center;
        height: 400px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .resident-card .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .resident-price {
        font-size: 1.1rem;
        color: #E4572E;
        font-weight: bold;
    }
    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
    }
    .lightbox img {
        max-width: 90%;
        max-height: 90%;
        border-radius: 10px;
        margin-top: 131px;
    }
    .lightbox.show {
        opacity: 1;
        visibility: visible;

    }
    
    .footer {
        background-color: black;
        display: flex;
        flex-basis: 50%;
        justify-content: space-around;
        padding-bottom: 100px;
        margin-top: 100px;
    
    }
    
    .footer h1 {
        color: whitesmoke;
        line-height: 70px;
        font-weight: 500;
        font-size: 54px;
        padding-bottom: 20px;
    }
    .footer p {
        color: white;
        font-size: 12px;
        line-height: 30px;
        color: #8A8A8A;
    }
    
    .col ul {
        list-style-type: none;
        color: white;
        font-weight: 300;
    }